body{
	background: #b9f6ca;
}
.login_user{
	width: 60%;
	height: 355px;
	margin-top: 18%;
	border-radius: 2%;
	background: white;
}

.action_login{
	margin-top: 2%;
}
a .iconlogin{
	margin-left: 5%;
	position: relative;
	top: 6px;
	margin-top: 5%;
}
#createUser{
	margin-top: 2%;
}
.forgetPassword{
	margin-top: 3%;
}
#iconStartSession{
	font-size: 40px!important;
	margin-left: 5%;
	position: relative;
	top: 6px;
	margin-top: 5%;
}

.modal{
	max-height: 90%!important;
	width: 55%;
	margin: auto;
	height: 253px;
}
.buttonForget{
	margin-top: 8%!important;

}
.tableProfile
{
	width: 86%;
	height: 243px;
	margin-top: 18%;
	border-radius: 2%;
	background: white;
	

}
.moreProfile
{
	bottom: -318px;
	left: 8%;
}

.columnProfile
{
	background-color: #26a99a;
	color: white;
}

.lineProfile
{
	border-bottom: #26a99a 1px solid;

}
.buttonMainAdmin{
	margin-left: 36%;
}
.adminText{
	margin-left: 28%;
}
#cursos{
	height: 256px!important
}
.adminTextclassroom{
	margin-left: 7%;
}
.adminTextcareer{
	margin-left: 2%;	
}
.imgCrud{
	margin-top: 9%;

}
.formCreateUser{
	background: white;
	height: 432px;
	margin-top: 12%;
}
.buttonCreateUser{
	margin-top: -1%;
	margin-left: 45%!important;
}